<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ledor.asyncprocess"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ledor.asyncprocess.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ledor.asyncprocess.sampleactivities.SimpleAsyncProceess"
            android:label="@string/title_activity_simple_async_proceess"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.ledor.asyncprocess.sampleactivities.AsyncHttpRequest"
            android:label="@string/title_activity_async_http_request"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.ledor.asyncprocess.sampleactivities.AsyncDownloadImage"
            android:label="@string/title_activity_async_download_image"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>